.statistics .dashboard-card {
  background-color: #d2f4f3;
  border: 1px solid #36c4c1;
  color: #003c47 !important;
  transition: 0.3s linear;
  margin-bottom: 20px;
}
.statistics .dashboard-card:hover {
  background-color: #c0f2f0;
}
