.navbar {
  background-color: #d2f4f3;
  border: 1px solid #36c4c1;
  border-radius: 10px;
}
.navbar .navbar-nav {
  display: flex;
  flex-direction: row !important;
  flex-wrap: wrap;
  gap: 20px;
}

.navbar .navbar-nav .nav-link {
  color: #003c47;
  transition: 0.3s ease;
}
.navbar .navbar-nav .nav-link:not(.log) {
  width: 33px;
  height: 33px;
  display: grid;
  place-items: center;
  border-radius: 50px;
  border: 1px dashed transparent;
}

.navbar .navbar-nav .nav-link:not(.log):hover {
  animation: pulse 1.5s infinite;
  border: 1px dashed #003c47;
}

.navbar .nav-link:first-child {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar .nav-link.message {
  position: relative;
}

.navbar .nav-link.message span.active {
  position: absolute;
  top: 3px;
  right: 3px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: indianred;
}

.dropdown-toggle::after {
  display: none !important;
}

.dropdown-toggle {
  border: 1px solid #36c4c1 !important;
  background-color: #baf5f4 !important;
  color: #003c47 !important;
}

.navbar .dropdown {
  position: relative;
}

.navbar .dropdown .dropdown-menu.show {
  position: absolute;
  top: 100%;
  left: -12px;
  z-index: 9999999999;
  background-color: #c8f2f1;
  border: 1px solid #36c4c1;
  --bs-dropdown-min-width: fit-content !important;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
