.content {
  height: calc(100vh - 90px) !important;
  overflow-y: scroll;
  padding: 10px 0 !important;
  border: 1px solid #36c4c1;
  position: relative;
}
.content::-webkit-scrollbar {
  width: 0 !important;
}
