.location {
  direction: rtl;
  background-color: #d2f4f3;

  border: 1px solid #36c4c1;

  margin: 10px 20px;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.1em;
  font-weight: bold;
  color: #003c47;
}

.location .back {
  color: #003c47 !important;
  cursor: pointer;
}
.location .location-name {
  color: #003c47 !important;
  pointer-events: none;
}
