.sidebar {
  background-color: #07505d;
  height: calc(100vh - 20px);
  border-radius: 10px;
  overflow: hidden;
}

.sidebar .nav-switch {
  position: absolute;
  top: 5px;
  left: 5px;
}

.sidebar .form-check-input:checked {
  background-color: #1abdcb !important;
  border-color: #00f4e9 !important;
}
